<div class="container gamebackground">
    <div class="apphead" apphead></div>
    <div buttonbar></div>
    <h3>Roger D&eacute;m&eacute;nage et il a besoin de toi !</h3>
    <div style="display:block; border:0px solid blue;">
    	<div style="float:right;"><img src="../img/roger.jpg"/></div>
    	<div style="display:block;">
    		<p>Roger doit changer de ville pour son travail.<br/>
    		Il rassemble ses affaires et commence à transporter <ul>
    		<li>ses cartons,</li>
    		<li>ses bibelots,</li>
    		<li>la vaisselle,</li>
    		<li>le lit,</li>
    		<li>et tout le contenu de son appartement..<a href="" ng-click="playdev()">.</a></li><br/>
    		vers sa nouvelle maison.</p>
		</div>
    </div>
	<div style="overflow:auto; border:0px solid red;">
	   	<div style="float:left;"><img src="../img/rogerBrasOuverts.jpg"/></div>
    	<div><p>Alors qu'il est en train de déménager, Roger a besoin de retrouver certaines choses. Mais c'est un sacré <strong>BAZARD !!</strong></p>
    	</div>
	</div>    
    <div style="overflow:auto; border:0px solid yellow;">
    	<div style="float:right;"><p><strong>Oui !!!??</strong> alors <strong><a href="" ng-click="play()">JOUONS !</a></strong></p></div>
    	<div><p>Sauras-tu aider Roger à retrouver ses affaires ?</p></div>
    </div>
    
    
	<div appfooter></div>
</div>
