<div class="container gamebackground">
    <div class="apphead" apphead></div>
    
    <div class="gamegreen">
		<img id="imggame" 
			 src="http://www.w3schools.com/tags/planets.gif" 
			 width="145" height="126" alt="Planets" usemap="#planetmap"/>
	  	<map name="planetmap">
		    <area class="yellow" shape="rect"   coords="0,0,82,126" href="" />
		    <area class="red"	 shape="circle" coords="90,58,3"    href="" />
		    <area class="objA"   shape="circle" coords="124,58,8"   href="" />
		    <area class="allImg" shape="rect"   coords="0,0,145,126" href="" />
		</map>
    </div>
    <a href="" ng-click="dashboard()">quitter</a>
	<div appfooter></div>
</div>
