<div class="container gamebackground">
    <div class="apphead" apphead></div>
    <div gamebuttonbar></div>

	<hr>
	VERSION DEV
	<hr>

   	<div>
    	<p>
    	Tu dois retrouver :
    		<ul id="componentlist" ng-repeat="comp in gamecomponents">
    			<li>{{comp.name}}</li>
    		</ul>
    	</p>
   	</div>
    <div class="gamegreen" >
    	<div class="imgcomponent" ng-show="icgagne" style="left: 250px; top: 50px;">GAGN&Eacute; !</div>
       	<div ng-repeat="cdiv in gamecomponents" 
       		 class="imgcomponent"
       		 ng-show="ic[cdiv.id]"
       	 	style="left: {{cdiv.left}}; top: {{cdiv.top}};">{{cdiv.name}}</div>
    	<img id="imggame" 
			 ng-src="{{gameimage}}"
			 alt="{{gamealt}}"
			 usemap="#gamemap">
		</img>
	  	<map name="gamemap" id="gamemap">
	  	    <area ng-repeat="comp in gamecomponents"
	  	    	  class="{{comp.name}}"
	  	    	  ng-click="clickElem($event, comp.id)"
	  	    	  shape="{{comp.shape}}"
	  	    	  coords="{{comp.coord}}"
	  	    	  href=""/>
		    <area class="allImg" shape="rect"   coords="0,0,700,700" href="" />
		</map>
    </div>

	<div>
    	<p>
    	<center><i>Avec la souris, clique sur l'image sur les objets que Roger doit retrouver.</i></center>
    	</p>
   	</div>
	
	<div appfooter></div>
</div>
