<div class="container gamebackground">
    <div class="apphead" apphead></div>
    <div buttonbar></div>
    <h3>Roger D&eacute;m&eacute;nage et il a des resources</h3>
    <div style="display:block; border:0px solid blue;">
    	<div style="float:right;"><img src="../img/roger.jpg"/></div>
    	<ul>
    		<li>source: <a href="https://github.com/boly38/roger">github</a></li>
    		<li>images: <a href="http://fr.freeimages.com/search/room?free=1">http://fr.freeimages.com/search/room?free=1</a></li>
    		<li>imagemap: <a href="http://imagemap-generator.dariodomi.de/">http://imagemap-generator.dariodomi.de/</a></li>
    	</ul>
    </div>
	<div appfooter></div>
</div>
